{% extends "admin/admin.html" %}

{% block content %}
<section class="content-header">
    <h1>微电影管理系统</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 标签管理</a></li>
        <li class="active">修改标签</li>
    </ol>
</section>
<section class="content" id="showcontent">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">修改标签</h3>
                </div>
                <form role="form", method="post"> <!--定义修改标签使用post方法，否则无法添加到数据库-->
                    <div class="box-body">
                        <!--get_flashed_messages 在操作之后弹出成功或失败的提示框
                            使用方法参见http://docs.jinkan.org/docs/flask/patterns/flashing.html-->
                        {% for msg in get_flashed_messages(category_filter=["ok"]) %}
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                            <h4><i class="icon fa fa-check"></i> 操作成功</h4>
                            {{ msg }}
                        </div>
                        {% endfor %}
                        {% for msg in get_flashed_messages(category_filter=["err"]) %}
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                            <h4><i class="icon fa fa-ban"></i> 操作失败</h4>
                            {{ msg }}
                        </div>
                        {% endfor %}

                        <div class="form-group">
                            <label for="input_name">{{ form.name.label }}</label>
                            {{ form.name(value=tag.name) }}
                            {% for err in form.name.errors %}
                            <div class="col-md-12">
                                <font style="color: red">{{ err }}</font>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="box-footer">
                        {{ form.csrf_token }}
                        {{ form.submit}}
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<!--在父模板中定义id ，用这段代码来使点击的项目呈选中状态。
其他项目的html文档同样需要添加该段代码来呈现相同效果（id各不相同）-->
<script>
    $(document).ready(function(){
        $('#g-2').addClass('active');
        $('#g-2-1').addClass('active');
    });
</script>

{% endblock %}