<!--本文档使用macro语法定义分页的模板宏，供其他需要使用分页的html文档引用。
具体如何实现分页可参照 http://www.pythondoc.com/flask-sqlalchemy/api.html

使用home_page.html, 在首页搜索结果显示为0时，点击分页出现异常。这里仅供search.html调用
-->

{% macro page(data, url) %}

{% if data %}
<nav aria-label="Page navigation">
	<ul class="pagination">
		<li><a href="{{ url_for(url, page=1) }}?key={{ data.key }}">首页</a></li>

		{% if data.has_prev %}
		<li><a href="{{ url_for(url, page=data.prev_num) }}?key={{ data.key }}">上一页</a></li>
		{% else %}
		<li class="disabled"><a href="#">上一页</a></li>
		{% endif %}
		
		{% for num in data.iter_pages() %}
		{% if num == data.page %}
		<li class="active"><a href="#">{{ num }}</a></li>
		{% else %}
		<li><a href="{{ url_for(url, page=num) }}?key={{ data.key }}">{{ num }}</a></li>
		{% endif %}
		{% endfor %}

		{% if data.has_next %}
		<li><a href="{{ url_for(url, page=data.next_num) }}?key={{ data.key }}">下一页</a></li>
		{% else %}
		<li class="disabled"><a href="#">下一页</a></li>
		{% endif %}

		{% if data.pages %}
		<li><a href="{{ url_for(url, page=data.pages) }}?key={{ data.key }}">尾页</a></li>
		{% else %}
		<li><a href="{{ url_for(url, page=1) }}?key={{ data.key }}">尾页</a></li>
		{% endif %}
	</ul>
</nav>
{% endif %}

{% endmacro %}